<div class = "face-snap-card" [ngClass]="{snapped: hasUserSnapped}">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    @if (faceSnap.location) {
        <p>{{ faceSnap.location }}</p>
    } @else {
        <p>Localisation non spécifiée</p>
    }
    <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onClickSnap()">{{snapButtonText}}</button>
        <span [ngStyle] = "{color: 'rgb(0, '+faceSnap.snaps+', 0)'}">  🤌 {{ faceSnap.snaps }}</span>
    </p>

</div>